@import url(https://fonts.googleapis.com/css?family=Ubuntu);
button, select, html, textarea, input {
  font-family: 'Ubuntu', 'Arial,', sans-serif !important; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  overflow: hidden; }

.outer-most-wrapper {
  height: 100vh;
  background-color: #2d9d51;
  overflow: hidden; }

md-tabs {
  height: 100vh; }

md-tabs md-content {
  background-color: #2d9d51;
  height: 500px; }

md-list-item.song-request-list-item {
  margin-top: 10px;
  height: 64px;
  background-color: #44a965; }

md-list-item.song-request-list-item .text-holder {
  color: #FFF;
  flex: 1;
  padding-left: 15px;
  overflow: hidden; }

md-list-item.song-request-list-item .text-holder h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

md-list-item.song-request-list-item .text-holder h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

md-list-item.song-request-list-item .text-holder p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 16px; }

md-list-item.song-request-list-item .buttons {
  position: relative;
  top: -5px;
  flex: 0 0 100px; }

md-list-item.song-request-list-item .notice-text {
  position: absolute;
  bottom: 4px;
  right: 10px;
  font-size: 11px;
  color: #FFF; }

md-content {
  color: #FFF; }

md-select-menu md-content {
  color: #000; }

.font-row {
  height: 64px; }
  .font-row .font-size {
    flex: 0 0 70px; }
    .font-row .font-size input {
      text-align: right; }
      .font-row .font-size input::-webkit-outer-spin-button, .font-row .font-size input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */ }
  .font-row .pixels {
    font-size: 13px;
    flex: 0 0 40px;
    line-height: 70px; }

.request-switch {
  margin-top: 3px;
  margin-bottom: 0;
  color: #FFF; }

.hint {
  font-size: 12px; }

.last-updated {
  font-size: 12px;
  line-height: 36px; }

.request-settings-button {
  margin: 0;
  float: right;
  color: #FFF; }
  .request-settings-button md-icon {
    color: #FFF; }

.refresh-button {
  margin: 0;
  color: #FFF; }
  .refresh-button md-icon {
    color: #FFF; }

.status-bottom-bar {
  height: 40px;
  text-align: center;
  background-color: #666; }
  .status-bottom-bar md-icon, .status-bottom-bar i {
    float: left;
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px; }
  .status-bottom-bar .spotify-api,
  .status-bottom-bar .twitch-api {
    flex: 0 0 125px;
    position: relative; }
  .status-bottom-bar .spotify-api {
    padding-left: 3px; }
    .status-bottom-bar .spotify-api i {
      position: relative;
      top: 2px; }
  .status-bottom-bar .twitch-api {
    padding-left: 5px; }
    .status-bottom-bar .twitch-api i {
      position: relative;
      top: 3px; }
  .status-bottom-bar .status {
    position: relative;
    top: 3px;
    overflow: hidden;
    color: #FFF; }
  .status-bottom-bar .local-spotify .status {
    padding-left: 5px; }
    .status-bottom-bar .local-spotify .status md-icon {
      -webkit-text-stroke: 1px #FFF; }
    .status-bottom-bar .local-spotify .status.disconnected md-icon {
      color: red; }
    .status-bottom-bar .local-spotify .status.warning md-icon {
      color: yellow; }
    .status-bottom-bar .local-spotify .status.connected md-icon {
      color: #2EBD59; }
  .status-bottom-bar .text {
    float: left;
    height: 40px;
    text-align: left; }
    .status-bottom-bar .text strong {
      display: block;
      height: 20px;
      line-height: 20px;
      font-size: 16px; }
    .status-bottom-bar .text span {
      display: block;
      font-size: 11px;
      line-height: 11px; }

.form-type-toggle {
  margin: 0 auto;
  height: 35px;
  min-height: 35px;
  margin-bottom: 10px; }
  .form-type-toggle md-icon {
    color: #FFF; }

.form-type-header {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 40px; }

.form {
  padding: 15px;
  background-color: #44a965; }

.code.html {
  height: 80px; }

.code.css {
  height: 200px; }

.connect-link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  opacity: 0.85;
  background-color: transparent; }
  .connect-link:hover {
    opacity: 1; }

.twitch-api {
  color: #FFF;
  background-color: #6441a4; }
  .twitch-api .connect-link i {
    position: relative;
    top: 6px;
    left: 3px; }

.spotify-api {
  background-color: #2EBD59;
  color: #FFF; }
  .spotify-api .connect-link i {
    position: relative;
    top: 4px;
    left: 5px; }

.logout-link {
  display: block;
  position: absolute;
  bottom: -3px;
  right: -3px; }
  .logout-link md-icon {
    font-size: 15px;
    color: #FFF;
    font-weight: bold; }

.song-requests-setup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5; }
  .song-requests-setup-overlay h3 {
    position: relative;
    top: 150px;
    width: 250px;
    margin: 0 auto;
    text-align: center; }
  .song-requests-setup-overlay .twitch, .song-requests-setup-overlay .spotify {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 125px;
    height: 100px;
    text-align: center; }
  .song-requests-setup-overlay .spotify {
    right: 125px; }
