md-tabs.md-default-theme .md-tab.md-active,
md-tabs .md-tab.md-active,
md-tabs.md-default-theme .md-tab.md-active md-icon,
md-tabs .md-tab.md-active md-icon,
md-tabs.md-default-theme .md-tab.md-focused,
md-tabs .md-tab.md-focused,
md-tabs.md-default-theme .md-tab.md-focused md-icon,
md-tabs .md-tab.md-focused md-icon{
  color: #FFF;
}


md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar{
  color: #FFF;
  background: #FFF;
}


// md-tabs md-tab-item:not(.md-active){
//   background-color: #2b7f47;
// }




// Form Inputs
md-input-container.md-default-theme .md-input,
md-input-container .md-input {
    color: rgba(255,255,255,0.87);
    border-color: rgba(255,255,255,0.5);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label,
md-input-container:not(.md-input-invalid).md-input-has-value label{
  color: rgba(255,255,255, 1);
}

md-input-container.md-default-theme label,
md-input-container label, md-input-container.md-default-theme .md-placeholder,
md-input-container .md-placeholder{
  color: rgba(255,255,255, 0.5);
}


md-select.md-default-theme .md-select-value, md-select .md-select-value{
  border-color: rgba(255,255,255,0.5);
}




// SELECTS
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value{
  color: rgba(255,255,255, 1);
  border-color: rgba(255,255,255,1);
}



// ACTIVE
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label{
  color: rgba(255,255,255, 1);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input{
  color: rgba(255,255,255, 1);
  border-color: rgba(255,255,255, 1);
}





// Validation Errors
md-input-container.md-default-theme.md-input-invalid ng-message, md-input-container.md-input-invalid ng-message, md-input-container.md-default-theme.md-input-invalid data-ng-message, md-input-container.md-input-invalid data-ng-message, md-input-container.md-default-theme.md-input-invalid x-ng-message, md-input-container.md-input-invalid x-ng-message, md-input-container.md-default-theme.md-input-invalid [ng-message], md-input-container.md-input-invalid [ng-message], md-input-container.md-default-theme.md-input-invalid [data-ng-message], md-input-container.md-input-invalid [data-ng-message], md-input-container.md-default-theme.md-input-invalid [x-ng-message], md-input-container.md-input-invalid [x-ng-message], md-input-container.md-default-theme.md-input-invalid [ng-message-exp], md-input-container.md-input-invalid [ng-message-exp], md-input-container.md-default-theme.md-input-invalid [data-ng-message-exp], md-input-container.md-input-invalid [data-ng-message-exp], md-input-container.md-default-theme.md-input-invalid [x-ng-message-exp], md-input-container.md-input-invalid [x-ng-message-exp], md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter{
  color: red;
}

md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input{
  border-color: red;
}

md-input-container.md-default-theme.md-input-invalid.md-input-focused label, md-input-container.md-input-invalid.md-input-focused label{
  color: red;
}
